
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --bg-color: rgb(235, 235, 235);
}

body{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin:0;
    background-color: #000000;
}


.calculator__buttons{
    display:grid;
    width: 40%;
    grid-template-columns: repeat(4,1fr);
    grid-gap:5px;
    margin: 0 auto
}

.calculator{
    width: 55%;
    height:95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin: 0 auto;
}


.calculator__display{
    width: 35%;
    height: 90px;
    border:0px;
    background-color: #000000;
    color: white;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    z-index:5;
    outline: none;
}

